In [1]:
import os
import sys

from sqlalchemy import create_engine
import sqlite3

import pandas as pd

In [2]:
#Collect the RTE data

file="D:\Developpement\Perso\Data\weatherunderground_airportfrance\database.sqlite"
conn = sqlite3.connect(file)
c = conn.cursor()
c.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(c.fetchall())

[('weather_data',), ('weather_stations',), ('cities_informations',)]

In [20]:
conn = sqlite3.connect(file)
df=pd.read_sql_query("select * from weather_stations;", conn)
conn.close()

In [21]:
df.describe()

       station_name     latitude   longitude
count            73           73          73
unique           73           71          73
top            LFOA  48.58000183  0.72000003
freq              1            2           1

In [22]:
import plotly.plotly as py
import pandas as pd

data = [ dict(
        type = 'scattergeo',
        lon = df['longitude'],
        lat = df['latitude'],
        text = df['station_name'],
        mode = 'markers'
        )]

layout = {}

fig = dict( data=data, layout=layout )
py.iplot( fig, validate=False, filename='d3-airports' )

In [28]:
file="D:\Developpement\Perso\Data\RTE\database.sqlite"
conn2 = sqlite3.connect(file)
c = conn2.cursor()
c.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(c.fetchall())

[('national_peak',), ('regional_peak',), ('30m_national_production',), ('30m_national_consumption',), ('yearly_regional_production',), ('yearly_regional_consumption',)]

In [29]:
df=pd.read_sql_query("select * from regional_peak;", conn2)

In [26]:
df.head()

                region                         day      hour  consumption
0            GRAND-EST  2008-01-03 00:00:00.000000  18:00:00         7655
1            GRAND-EST  2015-02-05 00:00:00.000000  18:00:00         8353
2   NOUVELLE-AQUITAINE  2011-01-04 00:00:00.000000  18:00:00         8618
3   NOUVELLE-AQUITAINE  2015-02-06 00:00:00.000000  12:00:00         9170
4  CENTRE-VAL DE LOIRE  2009-01-09 00:00:00.000000  07:30:00         4171

In [31]:
df_cities=pd.read_sql_query("select * from cities_informations;",conn)

In [32]:
df_cities.head()

,name,type,department,code_department,region,code_region,population,area,latitude,longitude
0,LOURTIES-MONBRUN,COMMUNE SIMPLE,32,GERS,76,LANGUEDOC-ROUSSILLON-MIDI-PYRENEES,139,9.66,43.459799,0.535802
1,BOUDY-DE-BEAUREGARD,COMMUNE SIMPLE,47,LOT-ET-GARONNE,75,AQUITAINE-LIMOUSIN-POITOU-CHARENTES,414,10.19,44.548109,0.677957
2,ARMOUS-ET-CAU,COMMUNE SIMPLE,32,GERS,76,LANGUEDOC-ROUSSILLON-MIDI-PYRENEES,95,9.32,43.573144,0.190291
3,AUTRANS-MEAUDRE EN VERCORS,COMMUNE SIMPLE,38,ISERE,84,AUVERGNE-RHONE-ALPES,2973,33.71,45.135052,5.527164
4,WILLEMAN,COMMUNE SIMPLE,62,PAS-DE-CALAIS,32,NORD-PAS-DE-CALAIS-PICARDIE,178,10.23,50.363923,2.159486

In [34]:
list_code_region=df_cities["code_region"].unique()

In [35]:
list_region=df["region"].unique()

In [40]:
dict_region={
    "GRAND-EST":"ALSACE-CHAMPAGNE-ARDENNE-LORRAINE",
    "NOUVELLE-AQUITAINE":'AQUITAINE-LIMOUSIN-POITOU-CHARENTES',
    "HAUTS-DE-FRANCE":'NORD-PAS-DE-CALAIS-PICARDIE',
    "OCCITANIE":'LANGUEDOC-ROUSSILLON-MIDI-PYRENEES',
}

for region in list_region:
    if region in list_code_region:
        dict_region[region]=region
    else:
        print(region,"NOT OK")

GRAND-EST NOT OK
NOUVELLE-AQUITAINE NOT OK
OCCITANIE NOT OK
HAUTS-DE-FRANCE NOT OK

list_code_region

In [41]:
dict_region

{'AUVERGNE-RHONE-ALPES': 'AUVERGNE-RHONE-ALPES',
 'BOURGOGNE-FRANCHE-COMTE': 'BOURGOGNE-FRANCHE-COMTE',
 'BRETAGNE': 'BRETAGNE',
 'CENTRE-VAL DE LOIRE': 'CENTRE-VAL DE LOIRE',
 'GRAND-EST': 'ALSACE-CHAMPAGNE-ARDENNE-LORRAINE',
 'HAUTS-DE-FRANCE': 'NORD-PAS-DE-CALAIS-PICARDIE',
 'ILE-DE-FRANCE': 'ILE-DE-FRANCE',
 'NORMANDIE': 'NORMANDIE',
 'NOUVELLE-AQUITAINE': 'AQUITAINE-LIMOUSIN-POITOU-CHARENTES',
 'OCCITANIE': 'LANGUEDOC-ROUSSILLON-MIDI-PYRENEES',
 'PAYS DE LA LOIRE': 'PAYS DE LA LOIRE',
 "PROVENCE-ALPES-COTE D'AZUR": "PROVENCE-ALPES-COTE D'AZUR"}

In [43]:
import json
with open("D:\Developpement\Perso\Data\RTE\link_RTEregion_IGNcoderegion.json","w") as file:
    json.dump(dict_region,file)